body {
  font-size: 12pt;
  color: #006600;
  margin-right: 7%;
  margin-left: 7%;
}

h1 {
  font-size: 18pt;
  font-weight: bold;
  background-color: #66aa66;
  color: #ccffcc;
  padding: 3px;
}

pre {
    /* Mozilla */
    white-space: -moz-pre-wrap;
    /* Opera 4-6 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;

    /* CSS3 */
    white-space: pre-wrap;
       /* IE 5.5+ */
    word-wrap: break-word;
}
