@(msg: String,datas: Form[Message])

@import helper._

@main("Sample Page") {

  <h1>新規メッセージ作成画面</h1>
  <a href="/" role="button">一覧に戻る</a>
  <a href="/setItem" role="button">投稿編集</a>
  <a href="/delete" role="button">削除</a>
  <a href="/find" role="button">投稿者検索</a>
  <hr>
  <p>@msg</p>
  @helper.form(action = routes.Application.create()) { 
	  @helper.inputText(datas("name"),'_help->"Required")
	  @helper.inputText(datas("mail"),'_help->"Email")
	  @helper.textarea(datas("message"),'_help->"constraint.pattern")
	  <input type="submit">
   } 
}